build:
    image: "docker:stable"
    services:
        - "docker:dind"
    stage: "build"
    script:
        - "docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}"
        - "docker build -t ${CI_REGISTRY_IMAGE}/ubuntu-sshd:latest dockerfiles/gitlab/ubuntu-sshd/"
        - "docker tag ${CI_REGISTRY_IMAGE}/ubuntu-sshd:latest ${CI_REGISTRY_IMAGE}/ubuntu-sshd:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker push ${CI_REGISTRY_IMAGE}/ubuntu-sshd:latest"
        - "docker push ${CI_REGISTRY_IMAGE}/ubuntu-sshd:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker build -t ${CI_REGISTRY_IMAGE}/dev:latest dockerfiles/gitlab/dev/"
        - "docker tag ${CI_REGISTRY_IMAGE}/dev:latest ${CI_REGISTRY_IMAGE}/dev:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker push ${CI_REGISTRY_IMAGE}/dev:latest"
        - "docker push ${CI_REGISTRY_IMAGE}/dev:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker build -t ${CI_REGISTRY_IMAGE}/dev-lang:latest dockerfiles/gitlab/dev-lang/"
        - "docker tag ${CI_REGISTRY_IMAGE}/dev-lang:latest ${CI_REGISTRY_IMAGE}/dev-lang:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker push ${CI_REGISTRY_IMAGE}/dev-lang:latest"
        - "docker push ${CI_REGISTRY_IMAGE}/dev-lang:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker build -t ${CI_REGISTRY_IMAGE}/dev-lang-java:latest dockerfiles/gitlab/dev-lang-java/"
        - "docker tag ${CI_REGISTRY_IMAGE}/dev-lang-java:latest ${CI_REGISTRY_IMAGE}/dev-lang-java:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker push ${CI_REGISTRY_IMAGE}/dev-lang-java:latest"
        - "docker push ${CI_REGISTRY_IMAGE}/dev-lang-java:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker build -t ${CI_REGISTRY_IMAGE}/dev-dl:latest dockerfiles/gitlab/dev-dl/"
        - "docker tag ${CI_REGISTRY_IMAGE}/dev-dl:latest ${CI_REGISTRY_IMAGE}/dev-dl:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker push ${CI_REGISTRY_IMAGE}/dev-dl:latest"
        - "docker push ${CI_REGISTRY_IMAGE}/dev-dl:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker build -t ${CI_REGISTRY_IMAGE}/irssi:latest dockerfiles/gitlab/irssi/"
        - "docker tag ${CI_REGISTRY_IMAGE}/irssi:latest ${CI_REGISTRY_IMAGE}/irssi:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker push ${CI_REGISTRY_IMAGE}/irssi:latest"
        - "docker push ${CI_REGISTRY_IMAGE}/irssi:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker build -t ${CI_REGISTRY_IMAGE}/rtorrent:latest dockerfiles/gitlab/rtorrent/"
        - "docker tag ${CI_REGISTRY_IMAGE}/rtorrent:latest ${CI_REGISTRY_IMAGE}/rtorrent:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker push ${CI_REGISTRY_IMAGE}/rtorrent:latest"
        - "docker push ${CI_REGISTRY_IMAGE}/rtorrent:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker build -t ${CI_REGISTRY_IMAGE}/ubuntu-base:latest dockerfiles/gitlab/ubuntu-base/"
        - "docker tag ${CI_REGISTRY_IMAGE}/ubuntu-base:latest ${CI_REGISTRY_IMAGE}/ubuntu-base:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker push ${CI_REGISTRY_IMAGE}/ubuntu-base:latest"
        - "docker push ${CI_REGISTRY_IMAGE}/ubuntu-base:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker build -t ${CI_REGISTRY_IMAGE}/squid:latest dockerfiles/gitlab/squid/"
        - "docker tag ${CI_REGISTRY_IMAGE}/squid:latest ${CI_REGISTRY_IMAGE}/squid:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker push ${CI_REGISTRY_IMAGE}/squid:latest"
        - "docker push ${CI_REGISTRY_IMAGE}/squid:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker build -t ${CI_REGISTRY_IMAGE}/squid-open:latest dockerfiles/gitlab/squid-open/"
        - "docker tag ${CI_REGISTRY_IMAGE}/squid-open:latest ${CI_REGISTRY_IMAGE}/squid-open:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker push ${CI_REGISTRY_IMAGE}/squid-open:latest"
        - "docker push ${CI_REGISTRY_IMAGE}/squid-open:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker build -t ${CI_REGISTRY_IMAGE}/gollum:latest dockerfiles/gitlab/gollum/"
        - "docker tag ${CI_REGISTRY_IMAGE}/gollum:latest ${CI_REGISTRY_IMAGE}/gollum:1.19-${CI_COMMIT_SHA:0:8}"
        - "docker push ${CI_REGISTRY_IMAGE}/gollum:latest"
        - "docker push ${CI_REGISTRY_IMAGE}/gollum:1.19-${CI_COMMIT_SHA:0:8}"
